  <div class="container">

    <div class="main">
      問題
      <p class="title" id="q">問題１</p>
      <ul class="question">
        <li class="answer">A</li>
        <li class="answer">B</li>
        <li class="answer">C</li>
        <li class="answer">D</li>
      </ul>
    </div>
    <button id="next">次へ</button>
    <%= link_to  "TOPへ", root_path %>
  </div>