// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background: lemonchiffon;
  padding-top: 64px;
}

.main {
  width: 60vw;
  height: 60vh;
  background: rgba(213, 255, 205, 0.705);
  margin: 0 auto;
  padding: 24px;

}

.title {
  font-size: 24px;
  margin-top: 16px;
}

.question {
  list-style: none;
  padding: 0;
  margin: 0;

}

.question > li {
  padding: 16px;
  margin: 8px;
  border: lightcoral 2px solid;
  cursor: pointer;
  margin-bottom: 24px;
}

.question > li:hover {
  opacity: 0.5;
}

// topページ

.top-main {
  background-image: image-url("quiz.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
   display: flex;
   justify-content: center;
  align-items: center;
}

.top-container {
  width: 80%;
  height: 80%;
  // background-color: aqua;
  margin: 0 auto;
  position: absolute;
}

.top-title-area {
  width: 600px;
  height: 100px;
  background: red;
  margin: 0 auto;
  padding: 12px;
  animation-name: In;
  animation-duration: 1.5s; /* アニメーションの長さ */
  animation-fill-mode: forwards; 
  position: relative;
  top:-500px;

}

.top-title-area:hover {
  transform: translate(0px, -500px);
  
}

.bar {
  font-size: 30px;
  color: #fff;
}

.menu {
  height: 500px;
  width: 200px;
  background-color: #fff;
  position: relative;
  right: 400px;
}


.show {
  display: block;
}

.hide {
  display: none;
}

.top-title {
  padding: 0;
  margin: 0;
  font-size: 64px;
  color: #fff;
  text-align: center;
}

.start-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.list {
  padding: 16px;
  border-radius: 24px;
  color: #fff;
  background-color: aqua;
  font-size: 20px;
  transition: background-color 1s;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s; /* アニメーションの長さ */
  animation-fill-mode: forwards; 


}

.list:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;

}

.txt1:hover {
  background-color: rgb(165, 42, 87);
}
.txt2:hover {
  background-color: rgb(52, 229, 120);
}
.txt3:hover {
  background-color: rgba(254, 245, 81, 0.888);
}
.txt4:hover {
  background-color: rgba(74, 85, 240, 0.808);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }
}
@keyframes In {
  from {
    opacity: 0.7;
  }
  to {
    transform: translate(0px, 450px);

  }
}
@keyframes NameIn {
  from {
    opacity: 0.7;
  }
  to {
    transform: translate(1300px, 0px);

  }
}

.user-name {
  font-size: 42px;
  text-align: center;
  margin: 72px auto;
  width: 60%;
  background-color: lemonchiffon;
  position: relative;
  right: 1300px;

  animation-name: NameIn;
  animation-duration: 1.5s; /* アニメーションの長さ */
  animation-fill-mode: forwards; 

}

